@model IEnumerable<ReversiMvcApp.Models.GebruikerRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Naam)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Role)
			</th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Naam)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Role)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
			</td>
		</tr>
}
    </tbody>
</table>
